<div id="about">
<div class="bar"></div>
<div class="menu-espanso">
  <div id="menu" class="menu"  >
    <div id="menu-in" (click)="openBar=!openBar" class="menu-in" [ngClass]="{'over':openBar}"></div>
  </div>
  <span class="linee linea1"></span>
  <span class="linee linea2"></span>
  <span class="linee linea3"></span>
  <div class="voci-menu">
    <ul>
      <li><a href="#">Articolo prova</a></li>
      <li><a href="#">Testo segnaposto</a></li>
      <li><a href="#">Contatti</a></li>
      <li><a href="#">Prova testo</a></li>
      <li><a href="#">Prova testo uno</a></li>
      <li><a href="#">Prova test due</a></li>
    </ul>
  </div>
</div>
<div class="wrapper">
  <div class="cont-txt">
    <h1>Heading Title</h1>
    <hr/>

  </div>
  <div class="footer">
    <div>
      <ul>
        <li><span>Footerasdasd</span></li>
        <li><span>footer uno</span></li>
        <li><span>footer 2</span></li>
        <li><span>footerasd tre</span></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><span>Footerasdasd</span></li>
        <li><span>footer uno</span></li>
        <li><span>footerasdasdasd 2</span></li>
        <li><span>footer tre</span></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><span>Footerfassass</span></li>
        <li><span>footer uno</span></li>
        <li><span>footer 2asdasdasd</span></li>
        <li><span>footer tre</span></li>
      </ul>
    </div>
  </div>
</div>
</div>
