<div class="loader-body">

<div class='loader-inner'>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
  <div class='wave'></div>
</div>
</div>
